body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    float: right;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    position: relative;
    text-align: right;
    margin-left: 0px;
    margin-right: 0px;
}
.header a, .header button
{
    
    margin: 10px;
    text-decoration: none;
    color: black;
    font-family: arial, sans-serif;
}
.header button
{
    padding: 0 12px;
    border-radius: 2px;
    line-height: 28px;
    background-color: #4484f1;
    font-size: 13px;
    color: white;
    font-weight: bold;
    border-width: 0px;
}
.header a
{
    vertical-align: middle;
    cursor: pointer;
    font-size: 13px;
}
.header a:hover
{
    text-decoration: underline;
    color: #5f6368;
}
header.google-apps 
{
    cursor: pointer;
    vertical-align: middle;
    background: url(img/googleApps.png);
    height: 100px;
    width: 100px;
}
header.google-apps:hover
{
    background: url(img/googleAppsHovered.png);
    height: 100px;
    width: 100px;
}
.main input
{
    height: 42px;
    width: 500px;
    margin-left: 370px;
    margin-top: 30px;
    padding-left:15px;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    background-image: url(img/search.png) no-repeat;
}
.main input:hover
{
    box-shadow: 0 0 5px 1px #d6dae0;
}
.main button
{
    background-color: #f2f2f2;
    border-width: 0px;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    text-align: center;
}
.main button:hover
{
    border: 1px solid  #85898f;
}
.main .language a
{
    font-family: arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.main .search i
{
    cursor: pointer;
}
.logo img
{
    margin-left: 500px;
    margin-top: 10%;
}
.bottom-links a
{
    text-decoration: none;
    color: #5f6368;
    font-family: arial, sans-serif;
    padding-left: 27px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}
.bottom-links
{
    background: #f2f2f2;
}
.bottom-links a:hover
{
    text-decoration: underline;
}
.bottom-links .bottom-links-right
{
    float: right;
    margin-bottom: 40px;
}
.bottom .country a
{
    font-family: arial, sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 40px;
    color: rgba(0, 0, 0, .54);
    margin-left: 30px;
}
